# Google Sheet Deployed Apps Script Web App URL (Unlimited & 100% Free)
# E.g. https://script.google.com/macros/s/AKfycb.../exec
VITE_GOOGLE_SHEETS_URL=

# Formspree Form ID (50 Free Leads/month)
# E.g. xgejywop
VITE_FORMSPREE_FORM_ID=
